* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  display: inline-block;
  width: 65px;
}

table {
  border-collapse: seperate;
  border-spacing: 0;
}

th {
  text-align: left;
}

th,
td {
  padding: 10px 15px;
}

thead {
  background: #395870;
  color: #fff;
}

tr:nth-child(even) {
  background: #f0f0f2;
}

.btn {
  height: 30px;
  width: 80px;
  background-color: lightgrey;
}

.del-btn {
  margin-left: 10px;
}

#show-add-book,
#add-book { 
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
}

.title {
  width: 300px;
}

.author {
  width: 200px;
}

.pages {
  width: 50px;
}

.actions {
  width: 200px;
}
